body {
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.nav-button {
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1, h2, h3 {
  color: #ff4500;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

video {
  width: 45%;
}


#bio img,
#bio p {
  color: #ffffff;
}

#skills h3,
#admin-skills h3,
#tech-skills h3,
#activities h3,
#project h3 {
  color: #ff4500;
}

#activities img,
#project img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

#project video {
  width: 100%;
  margin: 20px 0;
}

#contact a {
  color: #ff4500;
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}


.nav-button:active,
.nav-button:focus {
    background-color: #ffcc00; 
    color: #ffffff; 
}


#bio:target,
#skills:target,
#activities:target,
#project:target,
#contact:target {
    padding-top: 50px; 
    margin-top: -50px; 
}

#bio:target ~ nav button:nth-of-type(1),
#skills:target ~ nav button:nth-of-type(2),
#activities:target ~ nav button:nth-of-type(3),
#project:target ~ nav button:nth-of-type(4),
#contact:target ~ nav button:nth-of-type(5) {
    background-color: #ffcc00; 
    color: #ffffff;
}


/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center; 
  }

  .nav-button {
    width: 100%; 
    margin-bottom: 5px; 
  }
}


/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column; 
    align-items: center; 
  }

  .nav-button {
    width: 100%; 
    margin-bottom: 5px; 
    flex-direction: column; 
    align-items: center; 
  }
}

/* Estilizar a parte do relato como uma citação */
#project .quote {
  font-style: italic ;
  color: #ecdddd; /* Adapte a cor conforme necessário */
  margin-top: 5dvb;
  margin-bottom: 2px;
}

